snippet pb "Python Code Block" b
\`\`\`{python}
${1:# Your Python code here}
\`\`\`
endsnippet

snippet rb "R Code Block" b
\`\`\`{r}
${1:# Your R code here}
\`\`\`
endsnippet

snippet head "Quarto header" bA
---
title: $1
format: html
---
endsnippet

snippet lib "Library" bA
library($0)
endsnippet

snippet swd "Set working directory" bA
setwd($0)
endsnippet
