snippet pb "Python Code Block" bA
\`\`\`{python}
${1:# Your Python code here}
\`\`\`
endsnippet

snippet rb "R Code Block" bA
\`\`\`{r}
${1:# Your R code here}
\`\`\`
endsnippet

snippet hh "Quarto header" bA
---
title: $1
format: html
---
endsnippet
